<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/shinies">Current Hunts List</a>
        <% if (user) { %>
            <a href="/logout">LOG OUT</a>
          <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img class="google" src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
    </nav>
    <h1>Successful Hunts</h1>
    <% if (user) { %>
        <hr>
        <form id="add-pokemon" action="/successes" method="POST">
            <input type="text" value="Pokemon Name" name="name">
            <input type="text" value="Location" name="location">
            <input type="text" value="Methods" name="huntMethods">
            <br><button type="submit">Add Pokemon</button>
        </form>
        <hr>
        <table id="display-successes">
            <thead>
                <tr>
                    <th>Pokemon Name</th>
                    <th>Location</th>
                    <th colspan="2">Method</th>
                </tr>
            </thead>
            <tbody>
                <% profile.successList.forEach(function(p) { %>
                    <tr>
                        <td><%= p.name %></td>
                        <td><%= p.location %></td>
                        <td><%= p.huntMethods %></td>
                        <td>
                            <form action="/successes/<%= p._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                            <form action="/successes/<%= p._id %>?_method=PUT" method="POST">
                                <td><input type="text" value="<%= p.name %>" name="name"></td>
                                <td><input type="text" value="<%= p.location %>" name="location"></td>
                                <td><input type="text" value="<%= p.huntMethods %>" name="huntMethods"></td>
                                <td><button type="submit">Edit</button></td>
                            </form>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    <% } else { %>
        <div>Login to make your list</div>
    <% } %> 
    
</body>
</html>